In [14]:
import pandas as pd
import numpy as np

data = {"Emp_name":['Shen Lee', 'Leon Buhle', 'Tracy Adams', 'Lebo Sinuka', 'Lauren Pierce', 'Monika Bond', 
                    'Natahs Allsopp', 'Nicholas Winter', 'Christopher Eckson', 'Siobhan O’Malley'], 
        "Emp_units":[1, 0.5, 0.8, 1.5, 1.2, 2, 0.3, 1.1, 2.2, 1.5],
        "Total_leaves":[36,35,35,36,36,37,35,36,37,36],
        "Leaves_used":[0,3,5,10,5,8,11,9,15,5],
        }

row_labels = [215, 216, 217, 218, 219, 220, 221, 222, 223, 224]
data_df = pd.DataFrame(data, columns = ["Emp_name","Emp_units","Total_leaves","Leaves_used"], index = row_labels)

data_df.index.name = "Personnel_no"

data_df["Leaves_rem"] = data_df["Total_leaves"] - data_df["Leaves_used"]

print(data_df)

                        Emp_name  Emp_units  Total_leaves  Leaves_used  \
Personnel_no
215                     Shen Lee        1.0            36            0
216                   Leon Buhle        0.5            35            3
217                  Tracy Adams        0.8            35            5
218                  Lebo Sinuka        1.5            36           10
219                Lauren Pierce        1.2            36            5
220                  Monika Bond        2.0            37            8
221               Natahs Allsopp        0.3            35           11
222              Nicholas Winter        1.1            36            9
223           Christopher Eckson        2.2            37           15
224             Siobhan O’Malley        1.5            36            5

              Leaves_rem
Personnel_no
215                   36
216                   32
217                   30
218                   26
219                   31
220                   29
221                   24
222                   27
223                   22
224                   31