In [1]:
import pandas as pd

brazil = {'States' : ["Acre", "Alogoas", "Amapa", "Amazonas", "Bahia", "Ceara", "Distrito Federal",
                      "Espirito Santo", "Goiás", "Maranhao", "Mato grosso", "Mato grosso do sul", 
                      "Minas gerais", "Para", "Paraiba", "Parana", "Pernambuco", "Piaui", "Rio de Janeiro", 
                      "Rio Grande do norte", "Rio Grande do Sul", "Rondonia", "Roraima", "Santa Catarina", 
                      "Sao Paulo", "Sergipe", "Tocantins"],
         'Capitals' : ["Rio Branco", "Maceió", "Macapá", "Manaus", "Salvador", "Fortaleza", "Brasília",
                       "Vitória", "Goiânia", "São Luís", "Cuiabá", "Campo Grande","Belo Horizonte","Belém",
                       "João Pessoa", "Curitiba", "Recife", "Teresina", "Rio de Janeiro", "Natal", "Porto Alegre", 
                       "Porto Velho", "Boa Vista", "Florianópolis", "São Paulo", "Aracaju", "Palmas"]}

print(brazil)

{'States': ['Acre', 'Alogoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara', 'Distrito Federal', 'Espirito Santo', 'Goiás', 'Maranhao', 'Mato grosso', 'Mato grosso do sul', 'Minas gerais', 'Para', 'Paraiba', 'Parana', 'Pernambuco', 'Piaui', 'Rio de Janeiro', 'Rio Grande do norte', 'Rio Grande do Sul', 'Rondonia', 'Roraima', 'Santa Catarina', 'Sao Paulo', 'Sergipe', 'Tocantins'], 'Capitals': ['Rio Branco', 'Maceió', 'Macapá', 'Manaus', 'Salvador', 'Fortaleza', 'Brasília', 'Vitória', 'Goiânia', 'São Luís', 'Cuiabá', 'Campo Grande', 'Belo Horizonte', 'Belém', 'João Pessoa', 'Curitiba', 'Recife', 'Teresina', 'Rio de Janeiro', 'Natal', 'Porto Alegre', 'Porto Velho', 'Boa Vista', 'Florianópolis', 'São Paulo', 'Aracaju', 'Palmas']}

In [3]:
brazil_df = pd.DataFrame(brazil)

brazil_df

                 States        Capitals
0                  Acre      Rio Branco
1               Alogoas          Maceió
2                 Amapa          Macapá
3              Amazonas          Manaus
4                 Bahia        Salvador
5                 Ceara       Fortaleza
6      Distrito Federal        Brasília
7        Espirito Santo         Vitória
8                 Goiás         Goiânia
9              Maranhao        São Luís
10          Mato grosso          Cuiabá
11   Mato grosso do sul    Campo Grande
12         Minas gerais  Belo Horizonte
13                 Para           Belém
14              Paraiba     João Pessoa
15               Parana        Curitiba
16           Pernambuco          Recife
17                Piaui        Teresina
18       Rio de Janeiro  Rio de Janeiro
19  Rio Grande do norte           Natal
20    Rio Grande do Sul    Porto Alegre
21             Rondonia     Porto Velho
22              Roraima       Boa Vista
23       Santa Catarina   Florianópolis
24            Sao Paulo       São Paulo
25              Sergipe         Aracaju
26            Tocantins          Palmas

In [5]:
brazil2 = {'States':['State1','State2'],
          'Capitals': ['Capital1','Capital2']}

brazil2_df = pd.DataFrame(brazil2)

brazil2_df

   States  Capitals
0  State1  Capital1
1  State2  Capital2

In [10]:
brazil_final = brazil_df.append(brazil2_df, ignore_index =True)

print(brazil_final)
print(brazil_final.shape)

                 States        Capitals
0                  Acre      Rio Branco
1               Alogoas          Maceió
2                 Amapa          Macapá
3              Amazonas          Manaus
4                 Bahia        Salvador
5                 Ceara       Fortaleza
6      Distrito Federal        Brasília
7        Espirito Santo         Vitória
8                 Goiás         Goiânia
9              Maranhao        São Luís
10          Mato grosso          Cuiabá
11   Mato grosso do sul    Campo Grande
12         Minas gerais  Belo Horizonte
13                 Para           Belém
14              Paraiba     João Pessoa
15               Parana        Curitiba
16           Pernambuco          Recife
17                Piaui        Teresina
18       Rio de Janeiro  Rio de Janeiro
19  Rio Grande do norte           Natal
20    Rio Grande do Sul    Porto Alegre
21             Rondonia     Porto Velho
22              Roraima       Boa Vista
23       Santa Catarina   Florianópolis
24            Sao Paulo       São Paulo
25              Sergipe         Aracaju
26            Tocantins          Palmas
27               State1        Capital1
28               State2        Capital2
(29, 2)

/var/folders/f0/8zf73jg555jgjhvlfzknv6vm0000gn/T/ipykernel_68707/2347546204.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  brazil_final = brazil_df.append(brazil2_df, ignore_index =True)